.wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    margin-top: 5px;
}



.errorMessage {
    color: red;
}


.formStyles {
    position: relative;
    width: 100%;
}
