.wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    margin-top: 5px;
    background-color: var(--background-app-color);
    transition: background-color 200ms linear;
}



.errorMessage {
    color: red;
}


.formStyles {
    position: relative;
    width: 100%;
}
