* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-color);
    transition: color 200ms linear;

}

html,
body {
    height: 100%;
}

#root {
    display:block;
    justify-content: center;
    height: 100%;
    background-color: var(--background-app-color);
    transition: background-color 200ms linear;
}

html[data-theme='dark'] {
    --background-app-color: rgba(33, 30, 66, 1);
    --button-background-color: rgba(199, 12, 85, 0.8);
    --text-color: rgba(255, 255, 255, 1);
    --links-hover: rgba(255, 255,255,0.7);
    --border-color: rgba(255, 255, 255, 1);
    --button-background-color-hover: rgba(235, 32, 203, 0.9);
}

html[data-theme='light'] {
    --background-app-color: #FFFBF5;
    --button-background-color: #D2E0FB;
    --text-color: #111111;
    --links-hover: rgba(1,1,1,0.8);
    --button-background-color-hover: #8EACCD;
    --border-color: rgba(1, 1, 1, 1);
}

.App {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: sans-serif;
    text-align: center;
    margin: 0 auto;
    height: 100%;
}


/*video__wrapper {*/
/*    display: flex;*/
/*    position: relative;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    height: 50%;*/
/*}*/

/*.camera-list-name {*/
/*    font-size: 24px;*/
/*    margin-bottom: 20px;*/
/*}*/

/*.camera-grid {*/
/*    display: grid;*/
/*    position: relative;*/
/*    width: 100%;*/
/*    height: 100%;*/

/*    !* object-fit: contain; *!*/
/*    justify-content: center;*/
/*    grid-template-columns: repeat(auto-fit, 33%);*/
/*    grid-template-rows: repeat(auto-fill, 1fr);*/
/*    gap: 5px;*/
/*!*}*!*/

/*.camera-container {*/
/*    !* width: 100%; *!*/
/*    !* height: 100%; *!*/
/*    position: relative;*/
/*!*    !* object-fit: contain; *!*!*/
/*!*    !* padding-bottom: 50%; *!*!*/
/*!*}*!*/



.error {
    border: 1px solid red;
}